/* ################################################################################################################## */
/* ###########################################        COMMON SETUP       ############################################ */
/* ################################################################################################################## */
body, html {
	height: 100%;
	margin: 0;
/* 	font: 400 15px/1.8 "Lato"; */
	font: 400 15px/1.8 "Montserrat" !important;
	color: #777;
}

.container {
	min-height: 95%;
	margin-top: 90px;
}

.menu {
	margin-top: 15%;
}

div {
	margin-top: auto;
	margin-bottom: auto;
}

.label-margin {
	margin-top: 10px;
	margin-bottom: 0px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.form-no-label  {
	margin-top: 20px;
 }

.form-check-label {
	font-size: 12px;
}

.label-fixed-width {
	width: 100px;
}
 
.dark {
/* 	color: whitesmoke !important; */
    background: #d3d3d3 !important;
}
 
h2 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: 30px;
	font-family: "Montserrat";
}

h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: 20px;
	font-family: "Montserrat";
}

h4 {
	text-transform: uppercase;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: bold;
}

h5 {
	text-transform: uppercase;
	font-family: "Montserrat";
	font-size: 12px;
	font-weight: bold;
}

.italic-small {
	font-size: 12px;
	font-style: italic;
}

.title {
	border-bottom: #2d7d93 solid 2px;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
}

.title-no-border {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	padding-left: 15px;
}

.seccion-title {
	border-bottom: #2d7d93 solid 1px;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
}

.st-margin {
	margin-bottom: 50px;
}

.form-control::placeholder {
    color: #9199a1;
}

select:invalid { 
	color: #9199a1;
}

.form-error-feedback {
	width: 100%;
	border-radius: 0.15rem;
	padding-left: 5px;
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	font-size: 12px;
}
.first {
	padding-bottom: 5px;
}
.row-padding {
	padding-top: 30px;
}
.h-40p{
	height: 40px;
}
p {
  	color: #AAB5BC;
}
p .dark{
	color: #495057 !important;
}
.no-pad{
	padding: 0px;
}
.no-bottom {
	margin-bottom: 0px !important;
}
div .overflow {
	white-space: nowrap;
	overflow: hidden;
}
div .no-overflow {
	white-space: normal;
}





/* ################################################################################################################## */
/* #################################################      FONTS    ################################################## */
/* ################################################################################################################## */

.font-medium {
	font-size: 13px;
}
.font-small{
	font-size: 10px !important;
}
.italic {
	font-style: italic;
}
select option {
	font-size: 12px !important;
}


/* ################################################################################################################## */
/* ################################################      BORDERS    ################################################# */
/* ################################################################################################################## */

.border-bottom {
	border-bottom: solid 1px;
	padding-bottom: 3px;
}
.border-top {
	border-top: solid 1px;
	padding-bottom: 3px;
}


/* ################################################################################################################## */
/* #################################################    WELCOME    ################################################## */
/* ################################################################################################################## */
.logo {
	position: absolute;
	left: 0;
	top: 30%;
	width: 100%;
	text-align: center;
}

.logo img {
	width: 65%;
	max-width: 350px;
}

.logo-margin {
	padding-top: 50%;
}

/* PARALLAX EFFECT */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
	position: relative;
	opacity: 0.8;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg-1 {
	background-image: url("../images/wel_header.jpg");
	height: 100%;
}

.bgimg-2 {
	background-image: url("../images/wel_sedum.jpg");
	min-height: 600px;
}

.bgimg-3 {
	background-image: url("../images/wel_technical.jpg");
	min-height: 600px;
}

.bgimg-4 {
	background-image: url("../images/wel_footer.jpg");
	height: 100%;
}

/* BUTTON CENTERED */
.caption {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption .title{
  font-family: 'Stalemate';
  font-weight: bold;
  font-size: 100px;
  text-transform: lowercase;
  letter-spacing: 40px;
  color: white;
}

span.border, button.border {
	background-color: #3e3e3e;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}
.text-areas {
	color: #ddd; 
	text-align: center; 
	padding: 50px 80px; 
	text-align: justify;
}
.text-areas h3 {
	text-align: center;
	margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
	
	.text-areas {
		color: #ddd; 
		text-align: center; 
		padding: 20px 20px; 
		text-align: justify;
	}
	.text-areas h3 {
		text-align: center;
		margin-bottom: 40px;
	}
 
}


/* ################################################################################################################## */
/* ###########################################       SHAPES         ################################################# */
/* ################################################################################################################## */
.shape1 {
	-webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);
	clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);
}

.shape2 {
	-webkit-clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);
	clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);
}

.shape3 {
	/* clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%); */
	
}

.shape4 {
	-webkit-clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
	clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
}

/* ################################################################################################################## */
/* #######################################       BACKGROUND COLORS     ############################################## */
/* ################################################################################################################## */
.bg1 { /* Grey-DarkGreen gradient*/
	background: #3e3e3e;
	background: linear-gradient(to right, #3e3e3e, #415858);
}

.bg2 { /* Green-DarkGreen gradient*/
	background: #415858;
	background: linear-gradient(to right, #336666, #415858);
}

.bg3, .square, .navbar, footer { /*Grey*/
	background: #3e3e3e;
}

.bg4 {
	background: rgb(65, 88, 88);
	background: linear-gradient(270deg, rgba(65, 88, 88, 1) 0%,
		rgba(77, 112, 112, 1) 75%, rgba(51, 102, 102, 1) 100%);
}
.bg5 { /* Collapse background*/
	 background: #404040;
}

/* ################################################################################################################## */
/* ############################################      SQUARES      ################################################### */
/* ################################################################################################################## */

/* BASICS */
.square {
	width: 100%;
	margin-bottom: 30px;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	-ms-border-radius: 4px !important;
	-o-border-radius: 4px !important;
	border-radius: 4px !important;
	padding: 15px 15px;
	border: 0px; 
/* 	https://www.cssmatic.com/es/box-shadow */
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

/* BUTTON EFFECTS */
.square-button {
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    z-index: 1;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
.square-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
/*     padding: 30px; */
/*     background-color: black; */
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
    
}

.scrollable {
	height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* SQUARE HEIGHTS */
.normal {
	height: 300px;
}
.big {
	height: 370px;
}
.medium {
	height: 135px;
	padding-bottom: 3%;
}
.small {
	height: 80px;
	font-size: 100%;
	padding-top: 5px;
}
.very-small {
	height: 50px;
}
.auto {
	min-height: 310px;
}


/* SQUARE FONTS */
.square h2 {
	font-weight: 400;
	color: #2ab4c0 !important;
}
.square h3 {
	font-weight: 400;
	color: #2ab4c0 !important;
}
.square p {
  color: #AAB5BC;
}
.square small {
	font-size: 13px;
	color: #AAB5BC;
	font-weight: 600;
	text-transform: uppercase;
	height: 50px;
}

.square-detail-model {
	height: 50px;
}

/* SQUARE IMAGES */
.square img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* ADMIN DASHBOARD */
@media only screen and (max-width: 1200px) {
	
	.display {
		height: 50px !important; 
	}
	
}

@media only screen and (min-width: 1200px) {
	
	.display-small {
		height: 35px !important; 
	}
	
}

.display {
	height: 50px; 
}
.display-number {
	height: 90px; 
}

.progress {
	margin: 0;
	height: 4px;
	clear: both;
	display: block;
}

/* CAROUSEL */
.carousel-inner, .carousel-item, img.d-block w-100 {
  	width:100%;
 	height: 100%;
}
.carousel-inner img {
      width: 100%;
      height: 100%;
}
.carousel {
	height:50% !important;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}



/* SQUARE DETAILS */
.square-details {
	padding-top: 10px;
	min-height: 40%;
}
.square-details p {
	font-size: 12px;
	margin: 0px;	
}
.square-details span {
	font-size: 10px;
	margin: 0px;
}
.fixed-bottom {
	width: 100%;
	position: absolute;
	bottom: 30px;
	padding-left: 30px;
}
.h-100 {
    height: 95% !important;
	overflow: hidden;
}




/* ################################################################################################################## */
/* ############################################      COLORS       ################################################### */
/* ################################################################################################################## */
.font-green-sharp {
	color: #2ab4c0 !important;
}

.font-green-banner {
	color: #45b549 !important;
}

/* ################################################################################################################## */
/* ############################################      NAVBAR       ################################################### */
/* ################################################################################################################## */
.navbar {
	margin-bottom: 30px;
}

.navbar-dark {
	font-size: 14px;
	color: #AAB5BC;
	font-weight: 400;
	text-transform: uppercase;
}

.navbar-brand span {
	font-family: Century Gothic;
	text-transform: lowercase;
}

.ponla {
	color: #3e3e3e;
	background-color: #45b549;
	padding-left: 4px;
	padding-right: 4px;
}

.verde {
	color: #45b549;
	padding-left: 3%;
}

.last-element {
	border-bottom: 1px solid #9f9595;
}
.dropdown-menu {
	background-color: #d3d3d3;
}

/* ################################################################################################################## */
/* ############################################      BANNERS      ################################################### */
/* ################################################################################################################## */
.metrics {
	color: #bebebe;
}

.font-green-banner {
	font-size: 40px;
}

/* ################################################################################################################## */
/* ############################################       UTILS       ################################################### */
/* ################################################################################################################## */
.round {
	border-radius: 50%;
}

.form-subgroup {
	border: 0.5px;
    border-style: solid;
    padding: 10px;
    border-color: lightgrey;
    padding-bottom: 30px;
    border-radius: 5px;
/*     margin-top: 20px; */
}

.dark-border {
	border-color: #707071;
}

.label-form-subgroup {
	font-size: 10px;
}

.feedback-message {
	margin-top: 20px;
}

.wb {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.blur {
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 11px;
  line-height: 28px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
/* USE WITH CIRCLE */
.pending{
	background: #ffcc00;
	color: #997a00 !important;
}
.validated{
	background: #2d7d93;
	color: #1e5362 !important;
}
.rejected{
	background: #ff6666;
	color: #4d0000 !important;
}
.individual{
	background: #00cc66;
	color: #008040 !important;
}

/* FOR LABEL STATUS */
.label-warning{
	color: #ffcc00 !important;
}
.label-danger {
	color: #ff6666 !important;
}

.center-v {
	margin-bottom: auto;
	margin-top: auto;
}
.pagination-results{
	margin-bottom: 0px; 
	font-size: 12px;
}

/* ################################################################################################################## */
/* ######################################      PASSWORD STRENGTH       ############################################## */
/* ################################################################################################################## */

.password-progress {
	height: 5px;
	margin-top: 10px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
	float: left;
	height: 100%;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

.bg-red {
	background: #E74C3C;
	border: 1px solid #E74C3C;
}

.bg-orange {
	background: #F39C12;
	border: 1px solid #F39C12;
}

.bg-green {
	background: #1ABB9C;
	border: 1px solid #1ABB9C;
}



/* ################################################################################################################## */
/* #############################################        MODALS       ################################################ */
/* ################################################################################################################## */
.success-logo {
	text-align: center;
}
.success-logo img {
	width: 50%;
}
.header-logo img {
	width: 30%;
}
.modal-footer {
    display: inline;
    border-top: none;
}
.modal-header {
	border-bottom: none;
}
/* COOKIES */
.cookies-areas {
	text-align: center; 
	padding: 20px 20px; 
	text-align: justify;
}
.cookies-areas p {
	color: #5a6972; 
}
.cookies-areas h3 {
	text-align: center;
	margin-bottom: 40px;
	color: #384247
}
.cookies-areas img {
	margin-bottom: 30px;	
}
.boxsizingBorder  {
	 width:100%;
}



/* ################################################################################################################## */
/* #############################################       SLIDER        ################################################ */
/* ################################################################################################################## */



.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2798b8;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2798b8;
    cursor: pointer;
}

/* ################################################################################################################## */
/* ##########################################       DRAG AND DROP        ############################################ */
/* ################################################################################################################## */

#holder-images, #holder-details, #holder-sheets {
	border: 2px dashed #ccc;
	width: 100%;
	min-height: 75%;
	margin-bottom: 5%;
	text-align: center;
	background-image: url("../images/uploading.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20% 25%;
}

#holder-images.no-bg,  #holder-details.no-bg, #holder-sheets.no-bg {
	background-image: none;
}

#holder-images.hover, #holder-details.hover, #holder-sheets.hover {
	border: 3px dashed #0c0;
}

#holder-images img, #holder-details img, #holder-sheets img {
	display: inline-grid;
	margin: 5px 5px;
}

#holder-images p, #holder-details p, #holder-sheets p {
	margin: 10px;
	font-size: 14px;
}

progress {
	width: 100%;
}

progress:after {
	content: '%';
}

.fail {
	background: #c00;
	padding: 2px;
	color: #fff;
}

.hidden {
	display: none !important;
}



/* ################################################################################################################## */
/* ##########################################           BUTTONS          ############################################ */
/* ################################################################################################################## */

.garbage {
	background-image: url("../images/garbage.png");
	background-repeat: no-repeat;
	background-position: center center;
	width: 50px;
}
.save {
	background-image: url("../images/save.png");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100px;
}
.btn-sm {
	min-width: 60px;
}
.margin {
	margin-right: 10px;
}
.no-margin{
	margin-bottom: 0;
}
.margin-all {
	margin: 10px;
}
.margin-btm {
	margin-bottom: 10px;
}
.btn {
	font-size: 13px;
}
.fixed-width {
	width: 220px;
}
.login-btn {
	margin-top: 20px;
    margin-bottom: 30px;
}
.btn-margin-top {
	margin-top: 40px;
}


/* ################################################################################################################## */
/* ##########################################           TABLE          ############################################## */
/* ################################################################################################################## */

.table-dark {
    color: #AAB5BC;
    background: #3e3e3e;
    font-size: 14px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.table-dark-stat {
    color: #AAB5BC;
    background: #3e3e3e;
    font-size: 14px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.table-dark, .table-dark-stat, td, th {
	font-size: 12px;
}

.table-dark, .table-dark-stat, thead th {
    border-top: none;
}

.table td, .table th {
    vertical-align: middle;
}


/* ################################################################################################################## */
/* ##########################################        PAGINATION        ############################################## */
/* ################################################################################################################## */

.page-link {
    color: #aab5bc;
    background-color: #3e3e3e;
    border: 1px solid #2d7d93;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2d7d93;
    border-color: #2d7d93;
}

.page-item.disabled .page-link {
    color: #aab5bc;
    background-color: #595959;
    border-color: #2d7d93;
}

/* ################################################################################################################## */
/* ##########################################          LINKS           ############################################## */
/* ################################################################################################################## */


a {
	color: #45b549;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: green;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}

/* ################################################################################################################## */
/* ############################################      FOOTER       ################################################### */
/* ################################################################################################################## */
footer {
	color: #AAB5BC;
	padding: 32px;
}
footer a {
	color: white;
}

.footer-text{
	font: 15px/1.8 "Indie Flower";
}


/* ################################################################################################################## */
/* ###########################################      ACCORDION       ################################################# */
/* ################################################################################################################## */



.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .25rem;
}

.card-filter {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .25rem;
}

/* ################################################################################################################## */
/* #################################################     MENU      ################################################## */
/* ################################################################################################################## */
.logo-menu {
	position: absolute;
	top: 30%;
	text-align: center;
}

.logo-menu img {
	width: 85%;
	max-width: 450px;
	-webkit-filter: grayscale(60%) blur(1.5px); 
  	filter: grayscale(60%) blur(1.5px);
}
